section.apresentacao {
  display: flex;
  align-items: flex-start;
  background-color: var(--cor-verde);
  width: 100%;
  padding: 150px 80px 60px 0;
  gap: 50px;
}
section.apresentacao .texto {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: flex-start;
  flex-grow: 1; /* Permite que o texto ocupe mais espaço */
  width: 90%;  /* O texto ocupará 90% da largura */
  margin-right: 0; /* Sem margem direita */
  z-index: 2;
}
section.apresentacao .texto h1 {
  font-family: var(--bold);
  font-size: var(--f5);
  color: var(--cor-branco);
  margin: 15px 0 10px 150px;
}
section.apresentacao .texto h2 {
  font-family: var(--regular);
  font-size: var(--f3);
  color: var(--cor-branco);
  margin: 0 0 0 163px;
}
section.apresentacao .texto p {
  display: block;
  width: 100%;
  line-height: 1.3;
  font-family: var(--regular);
  font-size: var(--f3);
  margin: 0 auto;
  text-align: justify;
  text-indent: 1.25em;
  margin-bottom: 15px;
}
section.apresentacao .banner {
  display: block;
  max-width: 40%; /* Imagem ocupa 40% da largura */
  height: auto;
  box-shadow: 0 8px 16px #00000099;
  border-radius: 0 10px 10px 0;
}
